* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin centring() {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
body{
    background-color: bisque;
}
.centring_element{
    height: 100vh;
    @include centring();
}
.container{
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 2fr;
    
}
.turn_indicator{
    @include centring();
    margin: 20px 0px;
}
.main_section{
    padding: 50px 40px;
    gap: 30px;
    @include centring();
    border: 2px solid red;
    border-radius: 15px;
    background-color: aquamarine;
}
.dice{
    @include centring();
}
.score_board{
    @include centring();
}
.myButton {
    width: 100px;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
    margin: 0 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}
.buttons{
    margin: 20px 0px;
    @include centring();
    flex-direction: row;
}

  